<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Clientes</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Listado de Clientes</h2>
    <main id="caja_ppal">
        <section id="cont_logo">
            <figure id="marca"></figure>
        </section>
        <p>Datos del cliente:</p>
        <p>Usuario actual:</p>
    </main>
</body>
</html>
