<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body id="login">
    
    <div class="py-2 px-4 mt-3">
        <h1 class="text-3xl font-bold" style="text-align: center;">¡Peluditos!</h1>
        <h2 class="text-lg text-gray-700 mt-3" style="font-style: italic; text-align: center;">Hotel de Mascotas</h2>
    </div>
    
    <main id="caja_ppal">
        <h2 style="font-weight: 600;">Inicio de Sesión</h2>
        <section id="cont_logo">
            <figure id="marca">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de Peluditos">
            </figure>
        </section>

        <form action="{{ url_for('login') }}" method="post">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario"
                maxlength="25" minlength="3"
                title="¡ERROR! Parece que ingresaste un nombre de usuario incorrecto. Inténtalo de nuevo."
                required tabindex="1">

            <label for="clave">Contraseña</label>
            <input type="password" name="clave" id="clave"
                maxlength="18" minlength="5"
                title="¡UPS! Contraseña incorrecta. Inténtalo de nuevo."
                required tabindex="2">

            <button type="submit">ENVIAR</button>
        </form>

        {% if error %}
            <p class="mt-4" style="color: #5a3b24; font-weight: bold;">{{ error }}</p>
        {% endif %}

    </main>
</body>
</html>
