<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel para Operadores</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Bienvenido/a, Operador/a</h2>
    <main id="caja_ppal">
        <ul>
            <li><a href="/clientes">Ver Clientes</a></li>
            <li><a href="/mascotas">Ver Mascotas</a></li>
            <li><a href="/servicios">Ver Servicios</a></li>
            <li><a href="/serv_realizados">Registrar Servicios Prestados</a></li>
            <li><a href="/">Cerrar sesión</a></li>
        </ul>
    </main>
</body>
</html>